:: Backup existing default profile
@copy XW32.PRO XDEF.PRO 2>nul
xprof default.prof cjp.prof colors.prof ?1.prof
@pause
:: Rename generated profile
@move XW32.PRO ?1.PRO
:: Restore previous default
@move XDEF.PRO XW32.PRO
attrib -A ?1.prof
